:root {
    --yellow: #c6e27e;
    --white: #FFFFFF;
    --black: #000000;
    --lilapur: #A183C0;
    --purp: #371c43;
    --blue: #1f0f86;
  }


body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--lilapur);
    --fontColor: var(--blue);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--purp);
    --fontColor: var(--yellow);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

.divi{
    margin: auto;
    width: 60%;
    border: 5px solid #c6e27e;
    padding: 10px;
    background-color: rgb(69, 69, 69);
}